/* CSS for FileStorageXBlock */

.filestorage_block p {
    cursor: pointer;
}

.tip {
    float: right;
    min-width: 20% !important;
    width: 25%;
}

.filestorage_block_wrapper iframe{
    width: 100%;
    min-height: 569px;
    display: block;
    margin: 0 auto;
    border: 1px solid #cccccc;
}

.filestorage_block_wrapper iframe.no-width-height{
    top: 0;
    left: 0;
}

.filestorage_message {
    width: 100%;
    margin: 5px 0px 0px 0px;
    font-size: 12px;
}
